<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Géneros</title>
    <link rel='stylesheet' href='../public/css/styles.css' />

</head>

<body>
    <h1>LISTADO DE GÉNEROS</h1>
    <ul>
        <% genres.forEach(function(genre) { %>
        <li>
            <a href="/genres/detail/<%= genre.id %>"><%= genre.name %></a>
        </li>
        <% }) %>
    </ul>
</body>
</html>


</html>