<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link rel="stylesheet" href="../public/css/styleslogin.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <a href="../views/index.ejs"><img src="../public/img/images.png" alt="Movies" /></a>
        </div>
        <div class="form" action="#">
          <div class="input">Buscar tus pelis favoritas</div>
          <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Las películas nos conmueven
          profundamente, tanto si son de miedo como de humor, trágicas,
          románticas o de cualquier otro tipo. Hay tantos títulos y tantas
          experiencias por vivir...
        </p>
      </div>
      <nav class="navegador">
        <ul class="navegador-izquierda">
          <li><a href="#">Tus elegidas</a></li>
          <li><a href="#">Estrenos</a></li>
          <li><a href="#">Clasicas</a></li>
          <li><a href="../views/error404.html">Ayuda</a></li>
        </ul>
        <br>
        <br>
        <ul class="navegador-derecha">
            <li><a href="../views/register.html">Unirte Ahora <i class="far fa-id-card"></i></a></li>
            <li><a href="../views/dashboard.html">Mis Pelis <i class="fas fa-shopping-basket"></i></a></li>
            <li><a href="../views/logout.html">Salir <i class="fas fa-shopping-basket"></i></a></li>

        </ul>
    </nav>
      </nav>
      
    </header>
    <main>
      <form id="form" action="/login" method="post" class="register-form">
          <h3 class="register-title">Ingresar con Contraseña</h3>
          <label for="email" class="register-label">Email</label>
          <input type="email" id="email" name="email" placeholder="Email" class="register-input">
          <% if (locals.error && error.email) { %>
          <p style="color: red;"><%= error.email.msg %></p>
          <% } %>

          <label for="password" class="register-label">Contraseña:</label>
          <input type="password" id="password" name="password" placeholder="Contraseña" class="register-input">
          <% if (locals.error && error.password) { %>
          <p style="color: red;"><%= error.password.msg %></p>
          <% } %>

          <button type="submit" class="submit">Iniciar sesión</button>
      </form>
  </main>
    <footer></footer>
  </body>
</html>
