<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a Movies  </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="../public/css/styles.css"> 
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="../views/home.ejs"><img src="../public/img/images.png" alt="Movies"></a>
  
                </div>
                <div class="form" action="#" >
                    <div class="input">Buscar tus pelis favoritas</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Las películas nos conmueven profundamente, tanto si son de miedo como de humor, trágicas, románticas o de cualquier otro tipo. Hay tantos títulos y tantas experiencias por vivir...</p>
            </div>
               </ul>
                <ul class="navegador-derecha">
                    <li><a href="../views/login.ejs">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="../views/register.ejs">Unirte Ahora <i class="far fa-id-card"></i></a></li>
                    <li><a href="../views/dashboard.ejs">Mis Pelis <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            
     </header>
       <main>
                  <h1> Ups! ¿Ya te vas? </h1>
                  <H2> Te esperamos pronto!</H2>
       </main>
        <footer>
        </footer>
    </body>
</html>