<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordenadas por fecha</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
</head>

<body>
    <h1>PELÍCULAS ORDENADAS POR FECHA</h1>
    <ul class="movie-list">
        <% for(let i = 0; i < movies.length; i++) { %>
        <li>
            <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
            <br>
            <span class="release-date">RELEASE DATE: <%= movies[i].release_date %></span>
        </li>
        <% } %>
    </ul>
</body>

</html>