<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidxs a Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/stylesregister.css" />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo">
          <a href="index.html"><img src="img/images.png" alt="Movies" /></a>
        </div>
        <div class="form" action="#home">
          <div class="input">Buscar tus pelis favoritas</div>
          <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Las películas nos conmueven
          profundamente, tanto si son de miedo como de humor, trágicas,
          románticas o de cualquier otro tipo. Hay tantos títulos y tantas
          experiencias por vivir...
        </p>
      </div>
      <nav class="navegador">
        <ul class="navegador-izquierda">
          <li><a href="#">Tus elegidas</a></li>
|          <li><a href="#">Estrenos</a></li>
          <li><a href="#">Clasicas</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navegador-derecha">
          <li>
            <a href="register.html"
              >Unirte ahora <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="login.html"
              >Iniciar Sesión <i class="fas fa-sign-in-alt"></i
            ></a>
          </li>
          <li>
            <a href="#">Mis Pelis <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <a href="#" class="hamburguer-button"> <i class="fas fa-bars"></i></a>
    </header>

<main class="register">
  <form action="/" >
     <div></div>
      <label for="name">Nombre de Usuario</label> 
      <br>
      <input type="text" name="name" placeholder="Nombre y apellido">
  </div>
  <div></div>
      <label for="user">Nombre de Usuario</label> 
  <br>    
      <input type="text" name="user" placeholder="Nombre de usuario">
  </div>
  <div>
      <label for="email">Ingrese su Email</label>
      <br>
      <input type="email" name="email" placeholder="E-mail">
  </div>
      <br>
      <label for="birth_date"><b>Fecha de nacimiento</b></label>
      <br>
      <input type="date" name="birth_date" id="birth_date">
      <br>
      <input type="text" name="addres" placeholder="Domicilio">
      <h4>Perfil del usuario</h4>
      <div class="profile">
          <input type="radio" name="profile" value="usuario" id="us uario">
          <label for="buy">Usuario</label>
          <input type="radio" name="profile" value="Admin" id="admin">
          <label for="sell">Admin</label>
      </div>

      <h4>Generos que te interesan</h4>
      <div class="interests">
          <div>
              <input type="checkbox" name="interests" value="a" id="a">
              <label for="a">Terror</label>
          </div>
          <div>
              <input type="checkbox" name="interests" value="b" id="b">
              <label for="b">Comedia</label>
          </div>
          <div>
              <input type="checkbox" name="interests" value="c" id="c">
              <label for="c">Romance</label>
          </div>
          <div>
              <input type="checkbox" name="interests" value="d" id="d">
              <label for="d">Acción</label>
          </div>
          <div>
              <input type="checkbox" name="interests" value="e" id="e">
              <label for="e">Documentales</label>
          </div>
      </div>
      
      <h4>Elegí tu foto de usuario</h4>
      <input type="file" name="avatar">
      <br>
      <br>
      <input type="password" name="pass" placeholder="Elegí tu contraseña">
      <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
      <br>
      <br>
      <input type="submit" value="Enviar">
      <input type="reset" value="Borrar">
      <br>
      <br>
  </form>
</main>
<footer>

</footer>
</body>
</html>